<footer class="main-footer pt-3 text-center">
    <strong>COPYRIGHT &copy; {% now "Y" %}, <a href="#">SAS Pharmacy</a>. DESIGNED & DEVELOPED BY <a href="https://pk.linkedin.com/in/saifi-khan-lodhi-10a7a121b">Saif</a>, <a href="https://pk.linkedin.com/in/chaqibrazzaq?trk=public_profile_browsemap">Aqib </a>& <a href="https://pk.linkedin.com/in/shabbar-khan-saddozai-b34a78219">Shabbar</a> </strong>

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>